.pic-local-recognise {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  height: 100%;
  margin: 20px 0;
  :global {
    .title {
      width: 100%;
      text-align: center;
      h2 {
        font-size: 28px;
        color: #333;
        font-weight: 400;
      }
      .describe {
        font-size: 18px;
        color: #707070;
        margin-top: 10px;
      }
    }
    .step-one {
      display: flex;
      align-items: center;
      width: 100%;
      margin-top: 50px;
      .step1-left {
        flex: 1;
        text-align: right;
        .image1 {
          width: 365px;
          height: 329px;
        }
      }
      .step1-right {
        flex: 1;
        margin-left: 100px;
        .step-title-step1 {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          height: 50px;
          .icon {
            width: 28px;
            height: 31px;
            background-image: ~"url('./images/guide-split.png')"; // 导入背景图片
            background-position:  -34px -5px;
          }
          .name {
            font-size: 18px;
            font-weight: 700;
            color: #4D4D4D;
            padding-left: 10px;
          }
        }
        .p1 {
          font-size: 20px;
          color: #4D4D4D;
          margin-bottom: 16px;
        }
        .p2 {
          font-size: 14px;
          color: #787B80;
        }
        .btn-down {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 140px;
          height: 40px;
          background: #3D7EFF;
          border-radius: 30px;
          margin-top: 30px;
          .icon {
            width: 28px;
            height: 28px;
            background-image: ~"url('./images/guide-split.png')";
            background-position: 0px 0px;
            margin: 0 8px;
          }
          .name {
            font-size: 16px;
            color: #fff;
          }
        }
      }
    }
    .step-two {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      .step2-left {
        flex: 4;
        .left-wrapper {
          float: right;
          margin-right: 100px;
          .step-title-step2 {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 50px;
            .icon {
              width: 28px;
              height: 31px;
              background-image: ~"url('./images/guide-split.png')";
              background-position:  -34px -45px;
            }
            .name {
              font-size: 18px;
              font-weight: 700;
              color: #4D4D4D;
              padding-left: 10px;
            }
          }
          .sub-title {
            font-size: 20px;
            color: #4D4D4D;
            margin-bottom: 16px;
          }
          .p2 {
            font-size: 14px;
            color: #666;
            height: 24px;
            line-height: 24px;
            .span-blod {
              font-weight: 700;
              color: #2C2C2C;
              padding: 0 3px;
            }
          }
        }
      }
      .step2-right {
        flex: 6;
        .image1 {
          width: 623px;
          height: 439px;
        }
      }
    }
    .step-three {
      display: flex;
      align-items: center;
      width: 100%;
      margin-top: 50px;
      .step1-left {
        flex: 6;
        text-align: right;
        .image1 {
          width: 623px;
          height: 439px;
        }
      }
      .step1-right {
        flex: 4;
        margin-left: 100px;
        .step-title-step1 {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          height: 50px;
          .icon {
            width: 28px;
            height: 31px;
            background-image: ~"url('./images/guide-split.png')";
            background-position:  -34px -85px;
          }
          .name {
            font-size: 18px;
            font-weight: 700;
            color: #4D4D4D;
            padding-left: 10px;
          }
        }
        .p1 {
          font-size: 20px;
          color: #4D4D4D;
          margin-bottom: 16px;
        }
        .p2 {
          font-size: 14px;
          color: #787B80;
          height: 24px;
          line-height: 24px;
          .span-blod {
            font-weight: 700;
            color: #2C2C2C;
            padding: 0 3px;
          }
        }
      }
    }
    .step-four {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      .step2-left {
        flex: 4;
        .left-wrapper {
          float: right;
          margin-right: 100px;
          .step-title-step2 {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 50px;
            .icon {
              width: 28px;
              height: 31px;
              background-image: ~"url('./images/guide-split.png')";
              background-position:  -34px -125px;
            }
            .name {
              font-size: 18px;
              font-weight: 700;
              color: #4D4D4D;
              padding-left: 10px;
            }
          }
          .sub-title {
            font-size: 20px;
            color: #4D4D4D;
            margin-bottom: 16px;
          }
          .p2 {
            font-size: 14px;
            color: #666;
            height: 24px;
            line-height: 24px;
            .span-blod {
              font-weight: 700;
              color: #2C2C2C;
              padding: 0 3px;
            }
          }
        }
      }
      .step2-right {
        flex: 6;
        .image1 {
          width: 623px;
          height: 439px;
        }
      }
    }
  }
  
}