p {
  margin: 0;
}
.css-module {
  padding: 10px;
  color: lightcoral;
  margin-top: 30px;
  border: 1px dashed lightcoral;
  border-radius: 10px;
}
.css-module p {
  margin: 0;
}
.css-module span {
  font-size: 18px;
}